<%= turbo_frame_tag(:new_post) do %>
  <div class="mt-4 w-1/2 min-w-90">
    <div class="bg-white p-3 flex rounded-lg border border-gray-300 shadow">
      <div class="pr-2 pt-2">
        <div class="rounded-full w-12 h-12 flex items-center justify-center"
             style="background-color: <%= get_color_from(current_user.email) %>"
          >
          <div class="text-white text-2xl font-satoshiMedium">
            <%= current_user.email[0].upcase%>
          </div>
        </div>
      </div>
      <div class="flex flex-col flex-1">
        <%= link_to new_post_path, data: {action: "click->modal#open", turbo_frame: :turbo_modal } do %>
          <input
            class="h-16 px-4 bg-gray-200 rounded-md border border-gray-300 w-full font-satoshiMedium text-gray-800"
            placeholder="What would you like to know?"
          />
        <% end %>
        <div class="text-blue-500 text-md mt-2 cursor-pointer">
          <i class="fa-solid fa-earth-americas"></i>
          Any lawyer can reply to this question
        </div>
      </div>
    </div>
  </div>
<% end %>
